<nav class="navbar">
    <div class="navbar-item">
        <img src="/assets/homeIcon.svg" alt="Home icoon">
        <a href="/">Home</a>
    </div>

    <div class="navbar-item">
        <img src="/assets/veldverkennerIcon.svg" alt="Veldverkenner icoon">
        <a href="/">Veldverkenner</a>
    </div>

    <div class="navbar-item">
        <img src="/assets/nieuwsIcon.svg" alt="Nieuws icoon">
        <a href="/nieuws">Nieuws</a>
    </div>

    <div class="navbar-item">
        <img src="/assets/collectieicon.svg" alt="Collectie icoon">
        <a href="/collectie">Collectie</a>
    </div>
</nav>