<nav>
    <div>
        <img src="" alt="Home icoon">
        <a href="/">Home</a>
    </div>
    
    <div>
        <img src="" alt="Veldverkenner icoon">
        <a href="/">Veldverkenner</a>
    </div>

    <div>
        <img src="" alt="Nieuws icoon">
        <a href="/nieuws">Nieuws</a>
    </div>

    <div>
        <img src="" alt="Collectie icoon">
        <a href="/collectie">Collectie</a>
    </div>
</nav>