<nav class="navbar">
    <a href="/" {% if huidigPad == '/' %} class="active" {% endif %}>
        <img src="/assets/homeIcon.svg" alt="Home icoon">
        Home</a>

    <a href="/veldverkenner" {% if huidigPad == '/veldverkenner' %} class="active" {% endif %}>
        <img src="/assets/veldverkennerIcon.svg" alt="Veldverkenner icoon">
        Veldverkenner</a>
    
    {% assign checkSlice = huidigPad | slice: 0, 6 %}
    <a href="/nieuws" {% if huidigPad == '/nieuws' or checkSlice == '/nieuws' %} class="active" {% endif %}>
        <img src="/assets/nieuwsIcon.svg" alt="Nieuws icoon">
        Nieuws</a>

    <a href="/collectie" {% if huidigPad == '/collectie' %} class="active" {% endif %}>
        <img src="/assets/collectieicon.svg" alt="Collectie icoon">
        Collectie</a>
</nav>