{%  render 'partials/head.liquid' %}

<main>
    <h1>Home</h1>

    <ul> 
        <h2></h2>
        <li></li> {% comment %} List items dynamisch {% endcomment %}
    </ul>

    <ul>
        <h2></h2>
        <li></li> {% comment %} list items dynamisch {% endcomment %}
    </ul>

    <nav></nav> {% comment %} Hele nav dynamisch?? {% endcomment %}
</main>

{%  render 'partials/foot.liquid' %}