{%  render 'partials/head.liquid' %}

<header class="header-news">
    <h1>Veld nieuws</h1>

    <ul class="news-filter">
        <li><a href="/nieuws">Laatste</a></li>
        <li><a href="/nieuws/in-de-bloei">In de bloei</a></li>
        <li><a href="/nieuws/na-de-bloei">Na de bloei</a></li>
    </ul>

    <form action="" method="GET">
        <input type="search" name="search" placeholder="Zoek">
    </form>
</header>

<main class="main-news">
    <ul>
        {% for newsItem in nieuws %}
            <li>
                <img src="https://fdnd-agency.directus.app/assets/{{newsItem.image}}" alt="{{newsItem.title}}">
                <p>Bloemneveld</p> 
                <a href="/nieuws/{{ newsItem.slug }}">{{ newsItem.title }}</a>
            </li> 
        {% endfor %}
    </ul>


</main>

{%  render 'partials/navbar.liquid', huidigPad: huidigPad %}

{%  render 'partials/foot.liquid' %}