{%  render 'partials/head.liquid' %}

{%  render 'partials/headerNieuws.liquid' %}

<main>
    <img src="" alt="">
    <time datetime=""></time>
    <h2></h2>
    <p></p>
</main>

{%  render 'partials/navbar.liquid' %}

{%  render 'partials/foot.liquid' %}