{%  render 'partials/head.liquid' %}

<main>
    <h1>Veld nieuws</h1>

    <ul>
        <li><a href="">Laatste</a></li>
        <li><a href="">In de bloei</a></li>
        <li><a href="">Na de bloei</a></li>
    </ul>

    <form action="" method="GET">
        <img src="" alt="Zoek icoon">
        <input type="search" name="search" placeholder="Zoek">
    </form>

    <ul>
        {% for newsItem in news %}
            <li>
                <img src="https://fdnd-agency.directus.app/assets/{{newsItem.image}}" alt="{{newsItem.title}}">
                <a href="">
                    {{ newsItem.title }}
                </a>
            </li> 
        {% endfor %}

    </ul>
</main>

{%  render 'partials/navbar.liquid' %}

{%  render 'partials/foot.liquid' %}

